-title [@entry.name,@entry.url].join('-'),nil,false
%h1=link_to @entry.name,@entry.url,target: "_blank"
.website
  %b 网址:
  =@entry.url
%p
  %b QQ:
  = @entry.qq.present? ? @entry.qq : "暂无"
%p
  %b 发布者:
  =link_to @entry.user.name,@entry.user
%content
  =simple_format strip_tags(@entry.content)
.keywords
  %b 关键词：
  =@entry.keywords

= link_to '资料修改', edit_entry_path(@entry),class: "mt1em btn btn-primary" if can? :edit,@entry
-content_for :footer do
  =javascript_include_tag :entries
  =javascript_tag "entry_check('#{@entry.to_param}')"
