
-stores ||= @stores
-i=0
%ul.shoplist.listnarrow
  -stores.each do |s|
    %li{:id=>"position-#{i}",:class=>cycle('a','b','c','d','e')}
      -i+=1
      =img_credit(s.seller_credit)
      =link_to s.nick.truncate(13),store_url(s,:subdomain=>s.city_slug),:title=>s.title
.clear      
