-title @title,nil,false
-@col1 = true
%div.mt1em
  %h1.inline= @title
  -if @city.nil?
    %small.nav
      =render "stores/creditmap_btn"
=paginate @stores
=render :partial=>"stores/pindex",:locals=>{:stores=>@stores}
