-title @title
-@col1 = true
-if @out_page
  因内存限制，系统不显示100页以后的内容
-else  
  -if @max_page
    =paginate @stores,:total_pages=>@max_page,:window=>(@max_page < 11 ? @max_page : nil)
  -else
    =paginate @stores,:window=>10
  = render :partial => 'index'

