-title @title
-@col1 = true
-@nojs = true
=javascript_include_tag "cat_stores"
.row-fluid
  =javascript_tag "var cat_id = '#{@cat.id}';"
  .span8{'ng-controller'=>'CatStores'}
    %table.table
      %tr 
        %th 首页
        %th
        %th ORDER
      %tr{'ng-repeat'=>'store in results | orderBy:"position"'}
        %td
          %input{type: "checkbox","ng-model"=>"store.inhome","ng-click"=>"InhomeChange(store)"}
        %td
          %a{href: ""} {{store.short}}
        %td
          %input.input.input-mini{type: "text","ng-model"=>"store.position"}
          %button.btn.btn-success{"ng-click"=>"PositionChange(store)"} Save

    -##rdata= render :partial => 'cat_stores/list',:locals=>{:stores=>@stores}
    -if can? :manage,Cat
      -#= link_to 'add store', new_cat_store_url(@cat)
      =link_to 'back',manage_cats_url
  .span4
    =form_for(@cat,:url=>find_stores_url,:remote=>true,:method=>'post') do |f|
      %input{:name=>'sq',:value=> @cat.name}
      %input{:name=>'cat_id',:value=> @cat.id,:type=>'hidden'}
      %button 搜索
    #results  



