-title @title
-@col1 = true
-@nojs = true
=javascript_tag "var cat_id = '#{@cat.id}';"
=javascript_include_tag "cat_stores"
.row-fluid{'ng-controller'=>'CatStores'}
  .span9
    %ul.inhome
      %li
        %h3
          <a href="/taobao-#{@cat.slug}">#{@cat.name}</a>
        .list
          %a{'ng-repeat'=>'store in results | filter:{inhome: true} | orderBy:"position":true'}
            \{{store.short}}
    %table.table
      %tr 
        %th 首页
        %th
        %th
        %th
        %th ORDER
      %tr{'ng-repeat'=>'store in results | orderBy:"position":true'}
        %td
          %input{type: "checkbox","ng-model"=>"store.inhome","ng-click"=>"InhomeChange(store)"}
        %td
          %input.input.input-medium{type: "text","ng-model"=>"store.short"}
        %td
          %input.input.input-medium{type: "text","ng-model"=>"store.click_url"}
        %td
          {{store.seller_credit || store.follow_count}}
        %td
          %input.input.input-mini{type: "text","ng-model"=>"store.position"}
          %input.btn.btn-success{type: "submit","ng-click"=>"save(store)",value: "Save"}
          <a href="{{store.click_url}}" target="_blank">url</a>
          <a href="http://pub.alimama.com/?spm=0.0.0.0.fcXh60#!/promo/self/shop_detail?userNumberId={{store.user_id}}" target="_blank">ali</a>

    -##rdata= render :partial => 'cat_stores/list',:locals=>{:stores=>@stores}
    -if can? :manage,Cat
      -#= link_to 'add store', new_cat_store_url(@cat)
      =link_to 'back',manage_cats_url
  .span3
    %form{"ng-submit"=>"addShop()"}
      %input.input{'ng-model'=>'shop_url',type: 'text'}
      %input.btn.btn-primary{type: "submit",value:"add"}
    -#=form_for(@cat,:url=>find_stores_url,:remote=>true,:method=>'post') do |f|
      -#%input{:name=>'sq',:value=> @cat.name}
      -#%input{:name=>'cat_id',:value=> @cat.id,:type=>'hidden'}
      -#%button 搜索
    -##results  



