-title @title
-@col1 = true
-@nojs = true
=javascript_tag "var cat_id = '#{@cat.id}';cat_oid = #{@cat.oid.blank?  ? 0 : @cat.oid};"
=javascript_include_tag "cat_stores"
%div{'ng-controller'=>'CatStores'}
  %ul.inhome.preview
    %li
      %h3
        <a href="/taobao-#{@cat.slug}">#{@cat.name}</a>
      .list
        %a{'ng-repeat'=>'store in results | filter:{inhome: true} | orderBy:"position":true'}
          \{{store.short}}
  .row-fluid
    .span9
      %table.table
        %tr 
          %th 首
          %th
          %th
          %th 级
          %th 序
          %th
        %tr{'ng-repeat'=>'store in results | orderBy:"position":true',"ng-hide"=>"store.removed"}
          %td
            %input{type: "checkbox","ng-model"=>"store.inhome","ng-click"=>"InhomeChange(store)"}
          %td
            %input.input.input-small{type: "text","ng-model"=>"store.short"}
          %td
            %input.input.input-mini{type: "text","ng-model"=>"store.click_url"}
          %td
            {{store.seller_credit || store.follow_count}}
          %td
            %input.input.input-xmini{type: "text","ng-model"=>"store.position0","ng-value"=>"store.position"}
          %td
            .btn-group
              %input.btn.btn-success{type: "submit","ng-click"=>"save(store)",value: "S"}
              <a class="btn btn-danger" href="" ng-click="remove(store)">D</a>
              <a class="btn" href="/shop/{{store.id}}" target="_show">show</a>
              <a class="btn" href="{{store.click_url}}" target="_url">url</a>
              <a class="btn" href="http://pub.alimama.com/?spm=0.0.0.0.fcXh60#!/promo/self/shop_detail?userNumberId={{store.user_id}}" target="_ali">ali</a>

      -##rdata= render :partial => 'cat_stores/list',:locals=>{:stores=>@stores}
      -if can? :manage,Cat
        -#= link_to 'add store', new_cat_store_url(@cat)
        =link_to 'back',manage_cats_url
    .span3
      %form{"ng-submit"=>"search()"}
        %input.input.input-mini{'ng-model'=>'shop_cat_id',type: 'text'}
        %input.btn.btn-default{type: "submit",value:"search"}
      %ul.unstyled{"ng-show"=>"searching"}
        %li{"ng-repeat"=>"shop in shops","ng-hide"=>"shop.hide"}
          %meta
            <a href="#" ng-click="addThis(shop)">add</a>
            \|
            <a href="http://pub.alimama.com/?spm=0.0.0.0.fcXh60#!/promo/self/shop_detail?userNumberId={{shop.user_id}}" target="_ali">ali</a>
            \|
          <a href="{{shop.shop_url}}" target="_blank">{{shop.seller_nick}}</a>
      %hr
      %form{"ng-submit"=>"addShop()"}
        %input.input.input-small{'ng-model'=>'shop_url',type: 'text'}
        %input.btn.btn-info{type: "submit",value:"add"}
