-title t('.title'),nil,false
-@col1 = true
-@hide_fullad = true

= render :partial => 'home/cats'
-#= render :partial => 'home/temai'
-if @sites.present?
  .sites.alert.alert-info
    小站:
    -@sites.each do |s|
      =link_to s.name,root_url(:subdomain=>s.slug)
%ul.nav.nav-tabs
  %li.active
    %a{:href=>'#cities',:'data-toggle'=>'tab'} 城市
  %li
    %a{:href=>'#recommended',:'data-toggle'=>'tab'} 推荐
  %li
    %a{:href=>'#recent',:'data-toggle'=>'tab'} 最新
.tab-content
  .tab-pane#recommended
    %h2.inline 名店推荐
    %small
      =link_to '更多',stores_url
      =render :partial=>"stores/creditmap"
    -cache "home_popular",:expires_in=>1.day do
      -#=render :partial=>"stores/pindex3col",:locals=>{:stores=>@stores}
      =render :partial=>"stores/pindex",:locals=>{:stores=>@stores}
  .tab-pane#recent
    %h2.inline 最新收录
    %small=link_to '更多',recent_stores_url
    -cache "home_recent",:expires_in=>1.minutes do
      =render :partial=>"stores/index",:locals=>{:stores=>@stores_recent}
      -#=render :partial=>"stores/index2col",:locals=>{:stores=>@stores_recent}

  .tab-pane.active#cities
    = render :partial => 'cities/less'
-@hide_cities = true
        
-content_for :footer do    
  =javascript_include_tag "bootstrap-tab"
