-title t('.title'),nil,false
-meta :keywords,"淘宝金冠店铺,导航网站排名,淘宝皇冠店铺大全,淘宝金冠店铺排行,淘宝店铺排名,皇冠网店,淘宝童装店铺排名,淘宝金冠店,淘宝店铺排行榜,淘宝店排名,淘宝店铺排行,淘宝皇冠店铺排行榜,淘宝店排行,淘宝皇冠店铺导航,淘宝皇冠店,淘宝皇冠店大全"
-@col1 = true
-@hide_fullad = true
-@hide_bread = true
-@js = 'home'
-content_for :home_line do
  .home-line
    .container
      %h1 发现靠谱网店.
      %input#hq.input.span12{type: 'text',name: 'hq',placeholder: "女装",disabled: false}
= render :partial => 'home/inhome'
-#.home-list        
  -#-num = 5
  -#-%w(女装 男装 童装).each do |tag_name|
    -#.list{:class=>cycle('a','b','c')}
      -#%h2=link_to tag_name,tag_url(tag_name)
      -#-stores = Store.tagged_with(tag_name).credit.list_field.includes(:city).limit(num)
      -#=render :partial=>"stores/home_list",:locals=>{:hide_desc=>true,:stores=>stores}
-limit ||= 30
-cache "top-tags-#{limit}",:expires_in => 30.minutes do
  -tags = Tag.all_tagged_on('Store').order('count_all desc').limit(limit)
  %h2 热点标签
  %ul.taglist
    -tag_cloud(tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
      %li
        = link_to tag.name,tag_url(tag,:subdomain=>'www'), :class => css_class 
        %small=tag.count_all
