-title t('.title'),nil,false
-@col1 = true
-@hide_fullad = true
-@hide_bread = true
-content_for :home_line do
  .home-line
    .container
      %h1 发现靠谱网店.
      %input#hq.input.span12{type: 'text',name: 'hq',placeholder: "女装"}

.home-list        
  -%w(女装 男装 童装).each do |tag_name|
    .list
      %h2=tag_name
      -stores = Store.tagged_with(tag_name).credit.list_field.includes(:city).limit(10)
      =render :partial=>"stores/home_list",:locals=>{:hide_desc=>true,:stores=>stores}
-limit ||= 30
-cache "top-tags-#{limit}",:expires_in => 30.minutes do
  -tags = Tag.all_tagged_on('Store').order('count desc').limit(limit)
  %h2 热点标签
  %p.tag_cloud
    -tag_cloud(tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
      %span
        = link_to tag.name,tag_url(tag,:subdomain=>'www'), :class => css_class 
        %small=tag.count
