-title t('.title'),nil,false
-meta :keywords,"自助链接,自助链,自助友情链接,网站免费收录,免费收录网站,免费网站收录,免费网站目录,友链平台,免费友情链接,自动友情链接,友链交换平台,交换友链,免费友情链接网,免费推广平台"
-@col1 = true
-@hide_fullad = true
-@hide_bread = true
-@js = 'home'
-content_for :home_line do
  %section.welcome
    .container
      -#%h1 免费发布文章
      -#= render :partial => 'posts/form'
      -#%h1 免费收录网站
      -#= render :partial => 'entries/form'
      %h1 免费收录网站
      %p 我站是一个<strong>自助收录</strong>的网站目录,也可称之为自助友情链接平台。
      %p 你只需要在你的网站上放上我站的链接，然后把你的网站提交到我站，即可自行收录。<a href="/websites/new" target="_self">点此开始</a>
      %p 被收录后，你的链接将默认出现在我站首页。以后每一次有人从你的网站点击链接来到我站，你的链接都将被提升到第一的位置。

  %section.welcome
    .container
      %ul.nav.nav-tabs
        %li.active
          =link_to "网址导航",'#kuzhan',target: "_self",data:{toggle: "tab"}
        %li
          =link_to "店铺导航",'#shop',target: "_self",data:{toggle: "tab"}

      .tab-content
        .tab-pane.active#kuzhan
          = render :partial => 'home/kuzhan'
        .tab-pane#shop
          = render :partial => 'home/inhome'
