-title t('.title',:name=>@page.name),t('.header',:name=>@page.name)
-meta :keywords,t('.keywords',:name=>@page.name)
-meta :description,t('.description',:name=>@page.name) 

-unless @items.present?
  =t('topics.items_not_found',:name=>@page.name).html_safe 
-else  
  =render :partial=>'list',:locals=>{:items=>resort_items(@items)}
  .btn-group
    =link_to t('topics.show.more_results',:name=>nil).html_safe,taokq_url(@page.name),:target=>'_blank',:rel=>'nofollow',:class=>"btn btn-success btn-large"

