-title "店铺标签"
%ul.taglist
  -tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
    %li
      = link_to tag.name,tag_path(tag), :class => css_class 
      %small=tag.count
  .clearfix      
=paginate @tags  
-content_for :sidebar do
  =render 'widgets/top_tags'
