-cache "views-city-tree" do
  -cities = City.tree
  %dl.cities
    %dt 直辖市: 
    %dd
      -cities[:zhixiashi].each do |r|
        =link_to r.name,root_url(:subdomain=>r.slug),:title=>"#{r.name}淘宝网"
  -cities[:parents].each do |p|
    %dl.cities
      %dt= link_to p.name,root_url(:subdomain=>p.slug),:title=>"#{p.name}淘宝网"
      %dd
        -cities[:children][p.id].each do |r|
          =link_to r.name,root_url(:subdomain=>r.slug),:title=>"#{r.name}淘宝网"

