/*
 *= require_self
 *= require bootstrap_and_overrides
 *xxxxxx= require jquery.ui.autocomplete
 *xxxxxx= require ibox
*/

.rank {
display:block;
width:0;
height:16px;
vertical-align:baseline;
text-indent:-999em;
overflow:hidden;
background:url(rank_bg.gif) repeat-x scroll -999px -999px transparent;
}

.seller-rank-0 {
width:0;
}

.seller-rank-1 {
background-position:0 0;
width:17px;
}

.seller-rank-2 {
background-position:0 0;
width:34px;
}

.seller-rank-3 {
background-position:0 0;
width:51px;
}

.seller-rank-4 {
background-position:0 0;
width:68px;
}

.seller-rank-5 {
background-position:0 0;
width:85px;
}

.seller-rank-6 {
background-position:0 -32px;
width:17px;
}

.seller-rank-7 {
background-position:0 -32px;
width:34px;
}

.seller-rank-8 {
background-position:0 -32px;
width:51px;
}

.seller-rank-9 {
background-position:0 -32px;
width:68px;
}

.seller-rank-10 {
background-position:0 -32px;
width:85px;
}

.seller-rank-11 {
background-position:0 -64px;
width:17px;
}

.seller-rank-12 {
background-position:0 -64px;
width:34px;
}

.seller-rank-13 {
background-position:0 -64px;
width:51px;
}

.seller-rank-14 {
background-position:0 -64px;
width:68px;
}

.seller-rank-15 {
background-position:0 -64px;
width:85px;
}

.seller-rank-16 {
background-position:0 -80px;
width:17px;
}

.seller-rank-17 {
background-position:0 -80px;
width:34px;
}

.seller-rank-18 {
background-position:0 -80px;
width:51px;
}

.seller-rank-19 {
background-position:0 -80px;
width:68px;
}

.seller-rank-20 {
background-position:0 -80px;
width:85px;
}

