@import "bootstrap-sprockets"
@import "_variables"
@import "bootstrap"
body
.header
  padding: 20px 0
  .city,.change
    margin-top: 15px
    display: inline-block
  form
    padding-top: 6px
    padding-right: 70px
    position: relative
    .form-control
      width: 100%
    button
      position: absolute
      right: 0
      top: 6px
      width: 60px
      //margin-right: -70px
  .add-post
    margin-top: 6px
#nav
  margin: 0 -10px
.navbar-brand
  padding-left: 0
  padding-right: 0
  width: 200px
  text-align: center
  Background: #222

#main
.navbar-brand
.footer
  border-top: 1px solid #eee
  padding: 40px 0
.mt1e
  margin-top: 1em
.catalog
  dl
    padding: 10px 40px
    margin: 20px -30px 20px 0
    border-left: 1px solid #f8f8f8
    border-right: 1px solid #eee
    min-height: 216px
  dl.a
    border-left: 1px solid transparent
  dl.d
    border-right: 1px solid transparent
  dd
    line-height: 2em
    a
      color: #999
