@import "bootstrap-sprockets"
@import "_variables"
@import "bootstrap"
body
.header
  padding: 20px 0
  .city,.change
    margin-top: 15px
    display: inline-block
  form
    padding-top: 6px
    padding-right: 70px
    position: relative
    .form-control
      width: 100%
    button
      position: absolute
      right: 0
      top: 6px
      width: 60px
      //margin-right: -70px
  .add-post
    margin-top: 6px
#nav
  margin: 0
.navbar-brand
  padding-left: 0
  padding-right: 0
  width: 200px
  text-align: center
  Background: #222

#main
.navbar-brand
.pre-header
  height: 30px
  background: #f8f8f8
  border-bottom: #eee
.nav-users
  > li
    float: left
    > a,.nav-text
      padding: 0 8px
      line-height: 30px
      color: #666
    > a:hover, > a:focus
      background: transparent !important
  > li + li 
    margin-left: 2px
      
.footer
  border-top: 1px solid #eee
  padding: 40px 0
  margin-top: 40px
.mt1e
  margin-top: 1em
.catalog
  dl
    padding: 10px 40px
    margin: 20px -30px 20px 0
    border-left: 1px solid #f8f8f8
    border-right: 1px solid #eee
    min-height: 216px
  dl.a
    border-left: 1px solid transparent
  dl.d
    border-right: 1px solid transparent
  dd
    line-height: 2em
    a
      color: #999
.city-rows
  .row
    padding-top: 10px
    padding-bottom: 10px
    border-top: 1px dashed #ccc
  .row.first
    border-top: none

