-unless @hide_cities
  -cache 'cities_cap' do
    %p.cats
      -rs = City.caps
      -rs.delete_if{|r| r.slug = @city.slug} if @city
      -City.caps.each do |r|
        =link_to r.name,root_url(:subdomain=>r.slug),:title=>"#{r.name}淘宝店铺"
%small.nav.pull-right
  索引:
  =link_to "店铺",stores_url
  =link_to "最新收录",recent_stores_url
  =link_to '友情链接',partners_url(:subdomain=>'www')
.clearfix  
=render "stores/creditmap_btn" unless @creditmap_loaded
