-# navigation styled for Bootstrap 3.0
#nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -#= link_to '全部分类', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li=link_to "首页"
        %li=link_to "生活服务"
        %li=link_to "商业服务"
        %li=link_to "汽车服务"
        %li=link_to "教育培训"
        -#= render 'layouts/navigation_links'
