-# navigation styled for Bootstrap 3.0
#nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -#= link_to '全部分类', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li=link_to "首页"
        -cats = Fl::Category.roots.includes(:children)
        -cats.each do |c|
          %li{class: c.leaf? ? nil : "dropdown"}
            =link_to c.leaf? ? fl_city_cat_url(c.slug) : 'javascript://void(0)',c.leaf? ? nil : {class: "dropdown-toggle",data: {hover: "dropdown"}} do
              =c.name
              -unless c.leaf?
                %span.caret
            %ul.dropdown-menu
              -c.children.each do |c1|
                %li=link_to c1.name,fl_city_cat_url(c.slug)
              

        -#= render 'layouts/navigation_links'
