-limit ||= 20
-city ||= nil
-if city.present?
  %h4 热点搜索
  -cache "hot-city-#{city.id}-topics-limit-#{limit}",:expires_in=>30.minutes do
    -rs = Tc.top_topics(city.id,limit)
    -if rs.present?
      .topics
        -rs.each do |t|
          =link_to t.name,t
        .more=link_to "更多 &raquo;".html_safe,popular_topics_url
        .clear
-else
  -cache "hot-topics-limit-#{limit}",:expires_in=>1.hour do
    -rs = PageView.get_top_in(Topic).limit(limit)
    -if rs.present?
      .topics
        -rs.each do |r|
          -t=r.viewable
          =link_to t.name,t
        .more=link_to "更多 &raquo;".html_safe,popular_topics_url
        .clear
